@model FortuneTellerMVC.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.FirstName)'s Fortune</h4>
    <p>
        <span>@Html.DisplayFor(model => model.FirstName)</span> will retire in @ViewBag.RetirementAge years
        with @ViewBag.Money in the bank, a vacation home in @ViewBag.Location, and a @ViewBag.Transportation.
    </p>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
